.add-task {
  border-top: 1px solid #dadada;
  margin-bottom: -25px;

  input {
    border: 0 !important;
    width: 100%;
    height: 0;
    padding: 20px 50px;
    font-size: 22px;

    &:focus {
      outline: none;
    }
  }

  button {
    position: relative;
    bottom: 2em;
    left: 27em;
    background-color: transparent;
    border: 0;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    svg {
      fill: #bdbdbd;
      width: 20px;
    }
  }
}